.pytest_cache
*.pem
assets
.cache
_pycache_/
.idea/
logs/
traefik/log/
cp_api/app/.vertx/
couchbase/data
couchdb/data
jenkins/data
*.pyc
yarn.lock
package-lock.json
node_modules/
ml/app/core
newswatcher/app/core
ghostdriver.log
/auth/redis/data
archive.zip
report.html
*_coverage.xml
*_results.xml
.coverage
auth/influxdb/*
!auth/influxdb/influxdb.conf